<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

		<!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%X{H}%d | %-5level | [%thread] |%logger{36} | %m%n</pattern>
		</encoder>
	</appender>

	<appender name="ALLFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amp.logging.path}/amp.all.log</file>
		<append>true</append>
		<!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- roll daily -->
			<fileNamePattern>${amp.logging.path}/amp.all.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 512MB -->
				<maxFileSize>512MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%X{H}%d | %-5level | [%thread] |%logger{36} | %m%n</pattern>
		</encoder>
	</appender>

	<appender name="ERRORFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amp.logging.path}/amp.error.log</file>
		<append>true</append>
		<!-- deny all events with a level below WARN, that is INFO TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- roll daily -->
			<fileNamePattern>${amp.logging.path}/amp.error.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 512MB -->
				<maxFileSize>512MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>&gt;&gt;%n%X{H}%d | %-5level | [%thread] |%logger{36} | %m%n%throwable%n&lt;&lt;%n</pattern>
		</encoder>
	</appender>
	
	<appender name="RUNNINGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amp.logging.path}/amp.running.log</file>
		<append>true</append>
		<!-- deny all events with a level below WARN, that is INFO TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- roll daily -->
			<fileNamePattern>${amp.logging.path}/amp.running.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 512MB -->
				<maxFileSize>512MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%X{H}%d | %-5level | [%thread] |%logger{36} | %m%n</pattern>
		</encoder>
	</appender>

	<logger name="cn.edu.buaa.amp.MetricInterceptor" level="INFO" additivity="false">
		<appender-ref ref="RUNNINGFILE" />
	</logger>
	
	
	<root>
	    <appender-ref ref="STDOUT" />
		<appender-ref ref="ALLFILE" />
		<appender-ref ref="ERRORFILE" />		
	</root>
	
</configuration>